.home-page, .home-page a {
    display: flex;
    column-gap: 20px;
    padding: 10px;
    background-color: cornflowerblue;
}

.home-page a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: #3161b9;
    border-radius: 10px;
}

/*///////////////////////*/

.users {
    display: flex;
    width: 100%;
}

.users-wrapper {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 5px;
    background-color: orange;
    box-sizing: border-box;
}

.user {
    padding: 10px;
    box-sizing: border-box;
    background-color: #966a14;
    border-radius: 5px;
}

.users-wrapper a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

/*///////////////////////*/

.posts {
    display: flex;
    width: 100%;
}

.posts-wrapper {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 5px;
    background-color: #e38282;
    box-sizing: border-box;
}

.post {
    padding: 10px;
    box-sizing: border-box;
    background-color: #9b2a2a;
    border-radius: 5px;
}

.posts-wrapper a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

/*///////////////////////*/

.user-details,
.post-details {
    background-color: #d0d0d0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 20px;
}

.user-details-wrapper,
.post-details-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    color: white;
}

.user-name {
    font-size: 20px;
    font-weight: bolder;
}

.user-posts, .post-comments {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    row-gap: 10px;
    padding: 10px 20px;
}

.user-post, .comment {
    background-color: #adadad;
    border-radius: 10px;
    padding: 10px;
}

.post-body {
    width: 500px;
}

